{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/Log.css'%}">
    <link rel="shortcut icon" href="{% static 'Image/logincurve.png'%}" type="image/x-icon">
</head>
</head>

<body>
    <div>
        <div id="Container"></div>
        <h1>Log In</h1>
        <h2>Hello, Welcome Back</h2>
        <h4>If you are yet not Signed Up, <a href="{% url 'signup'%}">Sign Up</a></h4>
        <form>
            <div class="Label">
                <label>Email ID</label>
                <label>Password</label>
            </div>
            <input type="text" placeholder="" name="email">
            <input type="password" placeholder="" name="password">
            <a id="link" href="#">Forgot password?</a>
            <button class="Login" type="submit">Log In</button>
        </form>
        <img src="{% static 'Image/Log In.jpg'%}" alt="JPG">

    </div>
    <a href="{% url 'home'%}">
        <div class="button"><img src="{% static 'Image/arrowleft.png'%}"></div>
    </a>


</body>

</html>