{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/Sign.css'%}">
</head>

<body>
    {% if error_message %}
    <p style="color:red">{{ error_message }}</p>
    {% endif %}
    <div>
        <div id="Container"></div>
        <h1>Sign Up</h1>
        <h2>Hello, Welcome</h2>
        <h4>If you are already Signed Up, <a href="{% url 'login'%}">Log In</a></h4>
        <form method="post" action="{% url 'signup'%}">
            {% csrf_token %}
            <div class="Label">
                <label>Full Name</label>
                <label>Email ID</label>
                <label>Password</label>
                <label>Re-enter Password</label>
            </div>
            <input type="text" placeholder="" name="fullname">
            <input type="email" placeholder="" name="email">
            <input type="password" placeholder="" name="password">
            <input type="password" placeholder="" name="cpassword">
            <button class='Sign' type="submit">Sign Up</button>
        </form>
        <img src="{% static 'Image/Sign Up.png'%}" alt="" srcset="">
    </div>
    <a href="{% url 'home'%}">
        <div class="button"><img src="{% static 'Image/arrowleft.png'%}"></div>
    </a>




</body>

</html>